export PYTHONBREAKPOINT=IPython.embed

export ROOT=$(pwd)

export EDITOR=nvim

# export MYPYPATH=stubs
# export VIRTUAL_ENV_DISABLE_PROMPT=1

export BAT_THEME="Solarized (dark)"
# export BAT_THEME="Solarized (light)"

export AICHAT_LIGHT_THEME=false
